@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Nunito:wght@300&family=Oswald:wght@300&display=swap');


.basic-modal {

  
  font-family: 'Fira Sans', sans-serif;

  background-color: rgba(0,0,0,0.8);

  .header {
    background-color: $primary !important;
    display: flex !important;
  
    span{
      color: $font-light;
      margin: 50px;
      font-size: 30px;
    }
  }
}

.body{
  margin:3% 0 0 14%; 
}
